<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    
    <div class="side-nav-button p-2 me-3 text-light">
        
      </div>
      
    <a href="#" class="navbar-brand px-4">Administración del sistema</a>

    <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
          Administrador
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
        </ul>
      </div>

</nav>
